body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 100px auto;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

h2 {
    font-size: 40px;
    color: #d61721;
}